<%= render 'shared/errors', obj: @staff%>
<div class="container d-flex flex-column align-items-center my-4">
  <%= link_to gravatar_for(@staff), @staff, class: 'my-4'%>
  <div class="d-flex justify-content-center my-2">
    <% if current_user.is_admin || current_user == @staff%>
      <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
        Edit
      </button>
      <%= link_to 'Delete', staff_path(@staff),method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "U sure want to delete your account?"}%>
    <%end%>
    <%if current_user.is_admin%>
      <%= link_to 'New Staff', new_staff_path, class: 'btn btn-sm btn-primary'%>
    <%end%>
  </div>
  <table class="table">
    <tbody>
      <% fields_to_display = [:name, :username, :email, :phone_no, :created_at, :active] %>
      <% @staff.attributes.each do |attr, value| %>
        <% if fields_to_display.include?(attr.to_sym) %>
          <tr>
            <td><strong><%= attr.humanize %>:</strong></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Panel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>
