<div class="container my-4">
  <h2 class="text-center my-2">Stock</h2>
  <table class="table" id="myTable11" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%cnt=1%>
      <% @items.each do |item|%>
        <tr>
          <th scope="row"><%=cnt%>.</th>
          <td><%= item.name%></td>
          <td><%= item.quantity%></td>
          <td><%= item.price%></td>
          <td><button type="button" class="btn btn-warning btn-sm mx-1 edit-button" data-toggle="modal" data-target="#exampleModal" data-item-id=<%= item.id%> data-item-name="<%= item.name %>" data-item-quantity="<%= item.quantity %>" data-item-price="<%= item.price %>">
              Edit
            </button>
            <%if current_user.is_admin == true && item.status == false%>
              <%= link_to 'Revive',revive_item_path(item), method: :patch, class: 'btn btn-sm btn-primary mx-1',  data: {confirm: "U sure?"}%>
            <%end%>
            <%if current_user.is_admin == true && item.status == true%>
              <%= link_to 'Delete',"/items/#{item.id}", method: :delete, class: 'btn btn-sm btn-danger mx-1',  data: {confirm: "U sure?"}%>
            <%end%>
            <%= link_to 'QR', download_item_path(item), class: 'btn btn-sm btn-success mx-1'%></td>
        </tr>
        <%cnt+=1%>
      <%end%>
    </tbody>
  </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Panel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with( method: :patch, id: "edit_form") do |f| %>
          <%= hidden_field_tag :_method, :patch %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', id: "item_name_input", readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :quantity %>
            <%= f.number_field :quantity, class: 'form-control', id: "item_quantity_input" %>
          </div>
          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class: 'form-control', id: "item_price_input" %>
          </div>
          <%= f.submit "Update", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready( function () {
    $('#myTable11').DataTable({
      pageLength : 7
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('.edit-button').on('click', function() {
      var itemName = $(this).data('item-name');
      var itemQuantity = $(this).data('item-quantity');
      var itemPrice = $(this).data('item-price');
      var itemId = $(this).data('item-id');

      $('#item_name_input').val(itemName);
      $('#item_quantity_input').val(itemQuantity);
      $('#item_price_input').val(itemPrice);
      var form = $('#edit_form');

    // Set the form action URL dynamically based on the item ID
      form.attr('action', '/items/' + itemId + '/update');
    });
  });
</script>
