<div class="container my-4">
  <div class="row">
    <div class="col-md-2 m-auto">
      <%# <button class="btn btn-primary btn-sm" id="scan">Scan</button> %>
      <img src="<%= asset_url('qr.gif') %>" alt="Image" id="scan" class="img-fluid larger-gif" data-toggle="modal" data-target="#scanModal" >
    </div>
    <div class="col-md-10">
      <h2 class="text-center my-4">Available Items</h2>
      <table class="table" id="myTable" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%cnt=1%>
          <% @items.each do |item|%>
            <tr>
              <th scope="row"><%=cnt%>.</th>
              <!--<td><%= link_to item.name, item_path(item), class: 'link-dark'%></td>-->
              <td><%= item.name%></td>
              <td><%= item.price%></td>
              <td><button type="button" class="btn btn-warning btn-sm mx-2 edit-button" data-toggle="modal" data-target="#exampleModal" data-item-id=<%= item.id%> data-item-name="<%= item.name %>" data-item-price="<%= item.price %>">
                  Add
                </button>
              </td>
            </tr>
            <%cnt+=1%>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart Panel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with( id: "add_form") do |f| %>
          <%= f.hidden_field :customer_id, value: current_user.id %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', id: "item_name_input1", readonly: true %>
          </div>
          <div class="form-group">
            <%= f.label :quantity %>
            <%= f.number_field :quantity, class: 'form-control', id: "item_quantity_input1" %>
          </div>
          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class: 'form-control', id: "item_price_input1", readonly: true %>
          </div>
          <%= f.submit "Add Item", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="scanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart Panel</h5>
        <button id="bt-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video id="preview" style='width:100%'></video>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $('#myTable').DataTable({
        pageLength : 6
      });
  });
  var editButtons = document.getElementsByClassName('edit-button');
  for (var i = 0; i < editButtons.length; i++) {
  editButtons[i].addEventListener('click', function() {
    var itemName = this.getAttribute('data-item-name');
    var itemQuantity = '';
    var itemPrice = this.getAttribute('data-item-price');
    var itemId = this.getAttribute('data-item-id');

    document.getElementById('item_name_input1').value = itemName;
    document.getElementById('item_quantity_input1').value = itemQuantity;
    document.getElementById('item_price_input1').value = itemPrice;

    var form = document.getElementById('add_form');
    form.action = '/items/' + itemId + '/add';
  });
  }


  var scanner;
  document.getElementById("scan").addEventListener("click", async () => {
    // $('#scanModal').modal('toggle');
    scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function(content) {
      // console.log(content);
      var searchInput = $('input[type="search"]').eq(0);

      // Set the search value and trigger the search
      searchInput.val(content); // Replace 'search keyword' with the desired search term
      searchInput.trigger('keyup');
      scanner.stop();
      $('#bt-close').click();
    });
    Instascan.Camera.getCameras().then(function(cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function(e) {
      console.error(e);
    });
  });
  document.getElementById("bt-close").addEventListener("click", () => {
  if (scanner) {
    scanner.stop();
  }
    });
</script>
